<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Win Realme3 pro and more</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <div class="div">
	<h1 class="h1 h2"> Amazon рдкрд░ holi рдХрд╛ sell рдЪрд▓ рд░рд╣рд╛ рд╣реИ Spin рдХрд░реЗ  рдФрд░ рдИрдирд╛рдо рдЬреАрддреЗ</h1>
            
    
    <div class="container">                                       
        <div class="dropdown ">
          <button style="margin-top:5rem;" type="button" class="btn btn-primary dropdown-toggle button1  " data-toggle="dropdown">
        Terms & Condition
          </button>
          <div style="border-top-left-radius: 5rem; border-bottom-left-radius: 5rem;
           border-top-right-radius: 5rem; border-bottom-right-radius: 5rem;" class="dropdown-menu">
            <ol>
                <li>рдЕрдЧрд░ рдЖрдк рдЬреАрдд рдЬрд╛рддреЗ рд╣реЛ рддреЛ рд╕рдВрдкрд░реНрдХ  рдХрд░рдиреЗ рдХреЗ рд▓реАрдП  Register  рдХрд░реЗрдВ рд╕рд╣реА рдирд╛рдо рдФрд░ Mobile no рдФрд░ email id  рдФрд░ рдЕрдкрдирд╛  password create  рдХрд░реЗрдВ </li>
                <li>minimum 5 friends ko whatsapp pr share kre</li>
                <li>minimum 500 рдХрд╛  Amazon рдкрд░ shoping kre  Shop  Now pr click krke</li>

            </ol>
          </div>
        </div>
      </div>
      <!--imaage-->
      <div style="position: absolute; top: 18%;" class="tir">ЁЯФ░</div>
      <!--spin button -->
      <img id="img" src="lucky10.png">

      <!--what you win-->
      <p class="p10 p11"></p>
      <p class="p12 p13"></p>
      
      <p id="p" class="pc" style="position: absolute; bottom:20%; left: 39%; 
      background-color: red; width: 15%; height: 8%; text-align: center; font-size: 200%; border-top-left-radius: 60%;
      border-bottom-left-radius: 60%;border-bottom-right-radius: 60%;border-top-right-radius: 60% ;
      ">Spin Now</p>
       <p id="p"  class="tablet" style="position: absolute; bottom:35%; left: 38%; 
       background-color: red; width: 20%; height: 8%; text-align: center; font-size: 200%; border-top-left-radius: 60%;
       border-bottom-left-radius: 60%;border-bottom-right-radius: 60%;border-top-right-radius: 60%;
       ">Spin Now</p>
        <p id="p" class="mob" style="position: absolute; bottom:17%; left: 39%; 
        background-color: red; width: 30%; height: 8%; text-align: center; font-size: 200%; border-top-left-radius: 60%;
        border-bottom-left-radius: 60%;border-bottom-right-radius: 60%;border-top-right-radius: 60%; 
        ">Spin Now</p>
<!--share botton-->
<a href="whatsapp://send?text=Amazon рдкрд░ holi рдХрд╛ sell рдЪрд▓ рд░рд╣рд╛ рд╣реИ Spin рдХрд░реЗ  рдФрд░ рдИрдирд╛рдо рдЬреАрддреЗ http://topquoteslover.com/ " data-action="share/whatsapp/share"target="share on whatsapp"  class="wka " alt="whatsapp">
 </a>

<div class="pa"><a href="whatsapp://send?text=Amazon рдкрд░ holi рдХрд╛ sell рдЪрд▓ рд░рд╣рд╛ рд╣реИ Spin рдХрд░реЗ  рдФрд░ рдИрдирд╛рдо рдЬреАрддреЗ http://topquoteslover.com/ "></a></div>


<!--shop Now-->
<a href="https://amzn.to/38fmPJQ" class="shop1"></a>




<!--Registratiom form-->

  <a href="/regs" class="regis reg "> Register
   
  </a> 



</div>
   
    
<!--for image rotation-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
  $('p').click(function(){
    $("img").addClass("imageRot").one('webkitAnimationEnd mozAnimationEnd oAnimationEnd msAnimationEnd animationend', function () {
        $("img").removeClass("imageRot")
        $(".wka").addClass("fa fa-whatsapp whats10 wh10 a10 ak");
        $(".pa").addClass("aka");
        $(".pa").text("share with minimum five friends");
        $(".shop1").addClass("shop");
        $(".shop1").text("Shop");
  
        let num =Math.floor( Math.random()*3+1);
document.getElementById("img").src = `lucky1${num}.png`;

if(num===0){
$(".p10").text("Sorry try again ");
}
else if(num===1){
  $(".p10").text("рдЖрдкрдиреЗ iphone 10 рдЬреАрддрд╛ рд╣реИ,рдЕрдм рдиреАрдЪреЗ  shop рдкрд░ click рдХрд░реЗрдВ рдФрд░ minimum 500 рдХрд╛ shoping kre Amazon рдкрд░");
}
else if(num===2){
  $(".p10").text("рдЖрдкрдиреЗ Realme 3pro рдЬреАрддрд╛ рд╣реИ,рдЕрдм рдиреАрдЪреЗ  shop рдкрд░ click рдХрд░реЗрдВ рдФрд░ minimum 500 рдХрд╛ shoping kre Amazon рдкрд░");
}

else if(num===3){
  $(".p10").text("рдЖрдкрдиреЗ Sony Headphone рдЬреАрддрд╛ рд╣реИ,рдЕрдм рдиреАрдЪреЗ  shop рдкрд░ click рдХрд░реЗрдВ рдФрд░ minimum 500 рдХрд╛ shoping kre Amazon рдкрд░");
}

$(".p12").text("Shoping рдХрд░рдиреЗ рдХреЗ рдмрд╛рдж Register рдХрд░реЗрдВ");

})
    
    
});

      </script>
      
</body>
</html>